.headerStyle {
  background-color: #2B579A;
  display: flex;
  /* width: 99%; */
  justify-content: space-between;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  /* margin-left: 10px; */
}


.headerLoginButtonStyle{
  background-color: #2B579A;
  display: flex;
  /* width: 99%; */
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 1em;
  /* margin-left: 10px; */
}

.updateCalendarLabels {
  margin-left: 0.5em;
  font-weight: bold;
}

.tabStyle {
  background-color: #366EC2;
  padding-bottom: -5px;
  /* width: 99%; */
  /* margin-left: 10px;
margin-right: 10px; */
}

.tabContainer {
  background-color: white;
  margin-top: -10px;
  padding-top: 40px;
  padding-left: 10px;
}

.react-tabs__tab {
  color: white;
  margin-left: 0.4em;
}


/* .tab-content may not be needed */

.tab-content {
  font-weight: bold;
  color: white;
}


/* .tab-header may not be needed */

.tab-header {
  font-weight: bold;
  color: white;
}

.pageTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.infoText {
  font-style: italic;
  margin-bottom: 30px;
}

.tableStyle {
  width: 30%;
  height: 80px;
  border: 0px;
  background-color: white;
}

#calendar {
  width: 200px;
  margin-left: 5px;
}

#inputText {
  width: 193px;
  margin-left: 5px;
}

#datePicker {
  width: 184px;
}

.rowContainer {
  line-height: 30px;
}

#calculateButton,
#updateButton,
#cancelButton,
#confirmButton,
#deleteButton,
#cancelDeleteButton,
#addNonWorkingdayButton {
  margin-left: 100px;
  margin-right: -50px;
  margin-top: 5px;
  height: 30px;
  font-size: 16px;
  /* font-weight: bold; */
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;
  background-color: #124078;
  color: white;
}

#calculateButton:hover,
#updateButton:hover,
#cancelButton:hover,
#confirmButton:hover,
#deleteButton:hover,
#cancelDeleteButton:hover,
#addNonWorkingdayButton:hover {
  background-color: #002050;
}

#myLoginButton {
  margin-top: 10px;
  margin-right: 20px;
  background-color: #124078;
  border: 0px;
}

#popUpLoginButton {
  margin-top: 10px;
  margin-right: 20px;
  background-color: #366EC2;
  border: 0px;
}

#popUpLoginButton:hover {
  background-color: #124078;
}

#myLoginButton:hover {
  background-color: #002050;
}

#myLogoutButton,
#popupCloseButton {
  margin-top: 10px;
  margin-right: 20px;
  background-color: #124078;
  border: 0px;
}

#myLogoutButton:hover,
#popupCloseButton:hover {
  background-color: #002050;
}

#inputUsernameText {
  margin-bottom: 1em;
  margin-top: -0.5em;
}

#inputPasswordText {
  margin-bottom: 0.5em;
  margin-top: -0.5em;
}

.removeDateTable,
.selectDateInWeekTable {
  margin-top: 10px;
  margin-left: 5px;
  background-color: white;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.removeDateTableHeader {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.removeDateTableRow {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  /* border: 1px solid black; */
}

#removeDateTableContainer {
  padding-bottom: 20px;
}

#removeNWdaysTitle {
  vertical-align: top;
  padding-top: 1.3em;
}


/* #deletePageButtons {
margin-top: -30px;
} */

#nonworkingdaysLabel {
  vertical-align: top;
}

#outputLabel {
  padding-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  display: none;
}

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70px;
  width: 70px;
}

.myHeader {
  align-content: center;
  text-align: left;
}

.headerTitle {
  justify-content: center;
  margin-top: 30px;
  margin-left: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

#welcomeMessage {
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
}